parameters:
    level: max
    paths:
        - src

    ignoreErrors:
        -
            message: '#^Parameter \#1 \$value of class Faissaloux\\PestInside\\Expectation constructor expects string, null given#'
            count: 1
            path: src/Autoload.php
